<div class="subscribe">
    <span class="close"><i class="fa fa-close"></i></span>
    <p>Like what you're reading? Subscribe now for a weekly list of new Posts directly into your mailbox. No spam, i promise!</p>

    <div id="mc_embed_signup">
        <form action="//remoblaser.us12.list-manage.com/subscribe/post?u=f1a5c7aaa441210086d3e9047&amp;id=d41fbaadee" 
            method="post" 
            id="mc-embedded-subscribe-form" 
            name="mc-embedded-subscribe-form" 
            class="validate" 
            target="_blank" 
            novalidate>
            <div id="mc_embed_signup_scroll">
    
                <div class="mc-field-group">
                    <input required placeholder="E-Mail" type="email" value="" name="EMAIL" class="required email inline" id="mce-EMAIL">
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_f1a5c7aaa441210086d3e9047_d41fbaadee" tabindex="-1" value="">
                </div>
                <div class="clear">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button inline" onclick="ga('send', 'event', 'button', 'click', 'add-subscriber-panel');">
                </div>
            </div>
        </form>
    </div> 
</div>